{% extends "base.html" %}
{% block title %}Meme Generator{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meme Error</title>
</head>
<body>
    <h2>Invalid image file path, please try again</h2>
</body>
</html>
{% endblock %}